
<body>

<iframe width="0" height="0" src="https://www.youtube.com/embed/VAVLOHbqWd4?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <div class="row">
      <div class="col l8">
      <div class="col s6">
        <span syle="display: inline;" class="label label-info" text-align="center"><h3>Shy? Na! La Bouche </h3></span>
      </div>
      <div class="col s4">
        
        <br>
      </div>
      
        <br>
        <br>

        <div id="my-div" align="center" class="text-center" style="vertical-align:middle;">
          <iframe align="center" id='my-iframe' src="http://newhive.com/allmymovies" scrolling="no" frameborder="0" > </iframe>
        </div>
        <div class="col s3">
        <br>
          <img align="center"src="./img/mouth.jpeg" width="150" height="150" >
        </div>
        <div class="col s4" style="text-align: middle; line-height: 160px; height: 160x;">

          <p style="color: #d3d3d3; font-size: 35px;">Speak your mind</p>
          
        </div>
        
        <br>
      </div>
      <div class="col m4">
        <h3><span class="label label-info" text-align="center">Chat Feed</span></h3>
        <hr width="80%">
        <br>
        <br>
        <div id='messages' style="overflow-y: scroll; height:52vh;">
          <dl class="ios7" id='messages-chat'>
            <!-- <dt><strong>Yesterday</strong> 7:45 PM</dt> -->
            
          </dl>
        </div>
        <form class="col s10" style="fixed: bottom; bottom: 0; resize: none; right:0;">
          <div class="row" >
            <div class="input-field col s8">
              <input id="textarea1"  type="text"></input>
              <label for="textarea1" >Type your messages here!</label>
            </div>
            <div class="col s4">
              <a class="waves-effect waves-light btn"  ng-click="submitMessage()">Send</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <p style="color: #d3d3d3; text-align: center;">by: mm</p>
    <p style="color: #d3d3d3; text-align: center;">I do not own the rights to this stream. It belongs to it's rightful owner, Shia.</p>
</body>
